* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Vazirmatn;
    background: rgb(208, 184, 109);
}
body {
  background: url(../images/pngtree-carbon-fiber-material-black-regular-pattern-background-image_884488.jpg);
background-size: cover;
}
.bg-mine {
  background-color:darkorange;
  margin-bottom: 20PX;
}
ul {
    list-style-type: none;
    padding-right: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
#header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin: 20px;
    padding: 10px 20px;

}

/* logo */
.logo-link {
    line-height: 0;
}
.logo-img {
    width: 55px;
}

.navbar-list {
    display: flex;
    gap: 32px;
}
.header-contact-link {
    background: darkslateblue;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
}
.contact-icon {
    margin-right: 5px;
}
.border {
  border-radius: 10px;
}
.menu-list {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 40px;
}
.menu-item {
    background-color: #ffffff2c;
    border-radius: 18px;
    width: 30%;
    color: white;
    padding: 14px;
}
.menu-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}
.menu-teitel {
    border-top: 1px solid white;
    padding-top: 15px;
    margin-bottom: 10px;
}
.menu-info-box {
    display: flex;
    justify-content: space-between;
}
.order-link {
    background-color: white;
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}